@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&family=IBM+Plex+Sans:wght@100;400;600&family=Poppins:wght@100;500;700&family=Red+Hat+Display:ital,wght@0,400;0,700;1,300&display=swap');


body{
    display: flex;
    align-items: center;
     flex-direction: column;
     justify-content: center;
      background: #FAFAFA;
     
}

header{
    padding-top: 48px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 54px;

}
#logo {
    width: 119px;
    height: 28px;
}

#groups {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
     
    }
    .heroes{
   width: 375px;
    height: 150px;
    }
#group1{
width: 150px;
overflow: hidden;
height: 120px;
display: none;
}
#group2{
    display: none;
width: 150px;
overflow: hidden;
height: 120px;

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 40px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 24px;
}
h1{
color: #28283D;
text-align: center;
font-family: Red Hat Display;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 44px
}
.connect{
color: #87879D;
text-align: center;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
width: 327px;
}
.buttons{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 16px;
   padding-top: 8px;
}
#download{
width: 193px;
height: 58px;
border: none;
flex-shrink: 0;
background: #4D96A9;
color: #FFF;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px;
border-radius: 29px;
}
#download span {
    color: #8FE3F9;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px;
margin-left: 4px;
}

#question{
width: 139px;
height: 58px;
border-radius: 29px;
background: #855FB1;
border: none;
color: #FFF;
text-align: center;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px
}

.rectangle{
display: flex;
width: 56px;
height: 140px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
 padding-top: 56px;

}
.line{
width: 1px;
height: 84px;
 stroke-width: 11px; 
stroke: #87879D; 
flex-shrink: 0;

}
.oval{
width: 56px;
height: 56px;
flex-shrink: 0;
border-radius: 29px;
border: 1px solid rgba(135, 135, 157, 0.25);
background: #FAFAFA;
display: flex;
align-items: center;
justify-content: center;
}

.oval p {
    color: #87879D;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px;
padding: 15px; 
text-align: center;
}


.meeting-pics {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
     gap: 20px;                                                                              

 
}
#woman{
    width: 150px;
    height: 120px;
border-radius: 10px;
}
#women{
    width: 150px;
    height: 120px;
border-radius: 10px;
}
#men{
    width: 150px;
    height: 120px;
    border-radius: 10px;
}
#man{
width: 150px;
height: 120px;
border-radius: 10px;
}

.womans{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.mans{
 display: flex;
 justify-content: space-between;
   gap: 20px

 ;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 24px 0px 24px;
}

h3{
    margin-top: 56px;
    color: #4D96A9;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px; /* 162.5% */
letter-spacing: 4px;
text-transform: uppercase;
}

.universal{
 margin-top: 24px;
color: #28283D;
text-align: center;
font-family: Red Hat Display;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 36px
}

#abilities{
    margin-top: 32px;
    color: #87879D;
text-align: center;
font-family: Red Hat Display;
 font-style: normal;
font-weight: 500;
line-height: 26px;
width: 327px;
}

footer{
    background-image: url(./asssets/mobile-footer.jpg);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 200px;
    position: relative;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

   width: 375px;
   height: 428px;
    /* padding: 64px 24px 0px 24px; */
}


footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #4D96A9, #4D96A9);
    opacity: 0.8;
    background-color: #4D96A9; 

  }

.rectangle2{
    display: flex;
    width: 56px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: -100px;
     
    
}

.line2{
    width: 1px;
    height: 84px;
     stroke-width: 11px; 
    stroke: #87879D; 
    flex-shrink: 0;
    
    }
    .oval2{
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 29px;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .oval2 p {
    color: #87879D;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    padding: 15px; 
    text-align: center;
    }


    #experience {
color: #FAFAFA;
text-align: center;
font-family: Red Hat Display;
font-size: 32px;
font-style: normal;
font-weight: 900;
width: 327px;
line-height: 36px
    }
    .footer-ending{
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #info{
color: #FAFAFA;
text-align: center;
font-family: Red Hat Display;
font-size: 18px;
font-style: normal;
width: 327px;
font-weight: 500;
line-height: 26px;

    }

#download2{
width: 193px;
height: 58px;
border-radius: 29px;
background: #855FB1;
color: #FFF;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px;
border: none;
margin-bottom: 20px;
    }

    #donwload2 span {
color: #D9B8FF;
font-family: Red Hat Display;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px;
margin-left: 4px;

}




@media(min-width:768px) {
  #groups{
    gap: 36px;
  }
  .heroes{
    width: 760px;
    height: 300px;
  }                   
    #group1{
        width: 360px;
        height: 300px;
        display: none;
    }
    #group2{
        width: 360px;
        height: 300px;
        display: none;
    }

    h1{
        font-size: 48px;
        line-height: 48px;
        width: 339px;
    }
    .connect{
        width: 457px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
    .meeting-pics{
        flex-direction: row;
    }

    #woman{
        width: 160px;
        height:150px;
    }
    #women{
        width: 160px;
        height:150px;
    }
    #men{
        width: 160px;
        height:150px;
    }
    #man{
        width: 160px;
        height:150px;
    }

    .universal{
        width: 445px;
    }
    #abilities{
        width: 573px;
    }
    footer{
        background-image: url(./asssets/footer-tablet.jpg);
        width: 768px;
        background-position: center;
    }

    #experience{
        width: 457px;
      font-size: 40px;
      margin-top: 60px
    }
    #info{
        width: 573px;
        line-height: 26px
    
    }
}


@media (min-width:1440px){

   #logo{
    padding-top: 80px;
   }

    .heroes{
        display: none;
    }
    #groups{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 88px;
    }
    #group1{
        display: flex;
    }
    #group2{
        display: flex;
        padding-top: 75px;
        order: 1;
    }
    .title{
        gap: 34px;
    }
    h1{
        width: 445px;
        font-size: 64px;
        line-height: 64px
    }
    .connect{
        width: 540px;
        font-size: 18px;
        line-height: 26px;
    }
    .meeting-pics .mans  .womans{
        gap: 40px;
    }
    #woman{
        width: 268px;
        height:256px;
    }
    #women{
        width: 268px;
        height:256px;
    }
    #men{
        width: 268px;
        height:256px;
    }
    #man{
        width: 268px;
        height:256px;
    }
    #abilities{
        width: 540px;
    }
    footer{
        background-image: url(./asssets/footer-dekstop.jpg);
         width: 1440px;
         height: 300px;
         background-position: center;
    }
    .footer-ending{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 60px;
       
    }
    #experience{
        margin: 0;
    }
    #info{
        width: 350px;
    }
}




 #download:hover {
    cursor: pointer;
    background: #71C0D4;
 }
 #download2:hover {
    background: #B18BDD;
    cursor: pointer;
 }
 #question:hover {
    cursor: pointer;
    background: #B18BDD;
 }



    

    

